.avatar {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 50%;
    max-width: 200px;
}

.avatar-icon {
    margin-top: 1em;
    margin-bottom: 0.5em;
    width: 50px;
    height: 50px;
    box-sizing: unset;
}

.clickable-avatar-icon:hover {
    color: #5c71c5;
    cursor: pointer;
}
