.avatar {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 50%;
    max-height: 90%;
    max-width: 90%;
}


.avatar-icon {
    border: 3px solid #eeeeee;
    color: #eeeeee;
    background-color: #eeeeee;
    border-radius: 50%;
    margin-top: 1em;
    margin-bottom: 0.5em;
}
