.delete-icon {
    color: #666666;
}

.delete-icon:hover {
    color: darkred !important;
    cursor: pointer;
}

.icon-color {
    color: #666666;
}

.icon {
    color: #666666;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.icon:hover {
    color: #5c71c5;
    cursor: pointer;
}

.st0 {
    fill: none;
    stroke: #666666;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st1 {
    fill: #666666;
    stroke: #666666;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st1:hover {
    fill: #5c71c5;
    stroke: #5c71c5;
}

.st2 {
    fill: #666666;
    stroke: #666666;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}