.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: transparent;
}

.spinner {
    position: relative;
    text-align: center;
    margin-top: 45vh;
    z-index: 2001 !important;
}

.custom-spinner-modal {
    z-index: 2000 !important;
}