.schedule-th {
    text-align: center;
    background-color: white;
}

.schedule-td {
    text-align: center;
}

.switch-week-margin {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.lesson {
    min-width: 150px;
}

.react-switch-bg > div {
    width: 100px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.react-switch {
    margin-right: 1em;
}