.selector {
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}

.main-page-container {
    position: relative;
    margin-top: 0.7em;
}

.switch-week {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 15px;
}

.table {
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}

.icon {
    color: red;
}

.icon:hover {
    color: grey;
}

.lesson {
    min-width: 150px;
}