.login_telegram_photo_wrap {
    display: inline-block;
    margin: 15px 0;
}

.login_bot_photo, .login_user_photo {
    position: relative;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none !important;
    font-size: 24px;
    line-height: 52px;
    color: #fff;
    background: white;
    overflow: hidden;
}

.login_bot_photo, .login_user_photo, .login_bot_photo img, .login_user_photo img {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.login_telegram_photo_wrap.arrowed {
    background: url('data:image/svg+xml,%3Csvg height="50" viewBox="0 0 98 50" width="98" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="%234ca3e2" fill-rule="evenodd"%3E%3Cpath d="m91.8 19.5666667 8.5 11.3333333c.331371.4418278.241828 1.0686292-.2 1.4-.1730962.1298221-.3836298.2-.6.2h-17c-.5522847 0-1-.4477153-1-1 0-.2163702.0701779-.4269038.2-.6l8.5-11.3333333c.3313708-.4418278.9581722-.5313709 1.4-.2.0758057.0568542.1431458.1241943.2.2z" transform="matrix(0 1 -1 0 116.5 -65.5)"/%3E%3Cpath d="m40 21h46v8h-46z"/%3E%3C/g%3E%3C/svg%3E') no-repeat 0 -15px;
    padding-right: 58px;
}
.login_bot_photo,
.login_user_photo,
.login_bot_photo img,
.login_user_photo img {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
body.rtl .login_telegram_photo_wrap.arrowed,
body.rtl .login_user_photo {
    transform: scaleX(-1);
}
.login_bot_photo,
.login_user_photo {
    position: relative;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none !important;
    font-size: 24px;
    line-height: 52px;
    color: #fff;
    background: #e57979;
    overflow: hidden;
}
.login_bot_photo:before,
.login_user_photo:before {
    content: attr(data-content);
    font-weight: 500;
}
.login_bot_photo img,
.login_user_photo img {
    position: absolute;
    left: 0;
    top: 0;
}
.login_user_photo {
    margin: -15px 0;
}
.login_bot_photo,
.login_user_photo,
.login_bot_photo img,
.login_user_photo img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.login_bot_photo, .login_user_photo {
    font-size: 29px;
    line-height: 62px;
}
.login_user_photo {
    margin: -20px 0;
}