.text {
    color: #555;
    font-size: 1rem;
    margin: 0;
}

.list-item-text {
    color: #555;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    line-height: 1rem;
}

p {
    color: #555;
    font-size: 1rem;
    margin: 0;
}

.secondary-text {
    font-size: 0.7rem;
    color: #707070;
    margin: 0;
    padding: 0;
    line-height: 1rem;
}